.input {
  display: block;
  margin: 10px auto;
}

.container {
  border: 3px solid rgba(231, 231, 231, 0.65);
  margin: auto;
  text-align: center;
  width: 40vw;
  padding: 30px;
  margin-top: 20px;
  border-radius: 50px;
  box-shadow: 10px 10px 10px rgba(188, 188, 188, 0.2);
  background-color: white;
  min-width: 300px;
}

.background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: -1;
  padding: 50px;
  margin-top: 40px;
}

/* CSS */
.button74 {
  background-color: #d5f3bb;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button74:hover {
  background-color: #fff;
}

.button74:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button74 {
    min-width: 120px;
    padding: 0 25px;
  }
}
