* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a,
button {
	text-decoration: none;
	background: none;
	border: none;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.nav-container {
	display: flex;
	align-items: center;
	justify-content: center;
}
.btn {
	padding: 5px 10px;
	margin: 5px;
	border: 2px solid black;
	border-radius: 8px;
}
.active {
	color: grey;
}

/* --------------- Chat CSS --------------------- */
.content-container {
	width: 100%;
}

.users-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	position: fixed;
	margin: 20px;
	width: 30%;
}
.chatbox-container {
	width: 70%;
	padding-left: 40%;
	margin-bottom: 30px;
	border-radius: 8px;
}
.Chat {
	text-align: center;
	max-width: 728px;
	margin: 0 auto;
}

.Chat header {
	background-color: #d1d1d1;
	height: 10vh;
	min-height: 50px;
	color: rgb(0, 0, 0);
	position: fixed;
	width: 100%;
	max-width: 728px;
	top: 1; /* was 0 before */
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 99;
	padding: 10px;
}

.Chat section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 100vh;
	background-color: rgb(255, 255, 255);
}

main {
	padding: 10px;
	height: 80vh;
	margin: 10vh 0 10vh;
	/* overflow-y: scroll; */
	display: flex;
	flex-direction: column;
	width: 100%;
}

main::-webkit-scrollbar {
	width: 0.25rem;
}

main::-webkit-scrollbar-track {
	background: #1e1e24;
}

main::-webkit-scrollbar-thumb {
	background: #6649b8;
}

form {
	height: 10vh;
	position: fixed;
	bottom: 0;
	background-color: rgb(24, 23, 23);
	width: 80%;
	max-width: 70%;
	display: flex;
	font-size: 1.5rem;
	border-radius: 8px;
	margin-bottom: 5px;
}

form button {
	width: 20%;
	background-color: #dcf8ef;
}

input {
	line-height: 1.5;
	width: 100%;
	font-size: 1.5rem;
	background: #d1d1d1;
	color: black;
	outline: none;
	border: none;
	padding: 0 10px;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
}

button {
	background-color: #282c34; /* Green */
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	font-size: 1.25rem;
}

button:disabled {
	opacity: 0.7;
	cursor: not-allowed;
}

.sign-in {
	color: #282c34;
	background-color: #fee2f8;
	background-image: linear-gradient(315deg, #fee2f8 0%, #dcf8ef 74%);
	max-width: 400px;
	margin: 0 auto;
}

ul,
li {
	text-align: left;
	list-style: none;
}

p {
	max-width: 500px;
	margin-bottom: 12px;
	line-height: 24px;
	padding: 10px 20px;
	border-radius: 25px;
	position: relative;
	color: white;
	text-align: center;
}

.message {
	display: flex;
	align-items: center;
}

.sent {
	flex-direction: row-reverse;
}

.sent p {
	color: rgb(136, 136, 136);
	background-color: #fee2f8;
	background-image: linear-gradient(315deg, #fee2f8 0%, #dcf8ef 74%);

	/* background: #0b93f6; */
	align-self: flex-end;
}
.received p {
	background-color: #aee1f9;
	background-image: linear-gradient(315deg, #aee1f9 0%, #f6ebe6 74%);
	color: black;
}

img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin: 2px 5px;
}
.btn:hover {
	cursor: pointer;
}

.form-label {
	font-size: 40px;
}
